@font-face {
  font-family: 'Short Stack';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/shortstack/v15/bMrzmS2X6p0jZC6EcmPFX-SS.ttf) format('truetype');
}
.calculatorMain {
  width: 250px;
  margin: 50px;
  background-color: #dae6f2a5;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 2px 2px inset white, 2px 2px #beccde;
}
.calculatorMain .resultWindow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  background-color: #FBE6E1;
  width: 100%;
  margin: 20px 0;
  height: 80px;
  border-radius: 30px;
  font-family: 'Short Stack';
  font-size: 20px;
  box-shadow: 2px 2px #FEF6F4, 2px 2px inset #beccde;
}
.calculatorMain .resultWindow p {
  text-align: right;
  padding-right: 20px;
}
.calculatorMain .resultWindow p:first-child {
  font-size: 16px;
}
.calculatorMain .resultWindow p:last-child {
  color: #b65757;
}
.calculatorMain p {
  margin: 0;
  text-align: center;
  font-size: 20px;
}
.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.calculator .num {
  grid-area: 2/1/5/4;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.btn {
  font-family: 'Short Stack';
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin: 5px 0px;
  background-color: #FBE6E1;
  border: none;
  border-radius: 30px;
  box-shadow: 1px 1px inset #FEF6F4, 2px 2px #beccde;
}
.btn[value="="] {
  height: 100px;
  grid-area: 4/4/5/4;
}
.btn:active {
  box-shadow: 1px 1px #FEF6F4, 2px 2px inset #beccde;
}
.numbers {
  grid-column: 1/4;
}
body {
  background: linear-gradient(#dae6f2a5, transparent 2px), linear-gradient(90deg, #dae6f2a5, transparent 2px);
  background-size: 30px 30px;
  background-position: center center;
  background-color: #beccde;
}
.main {
  display: flex;
  flex-direction: column;
  margin: 25px auto;
  border: black 2px solid;
  border-radius: 20px;
  width: 90%;
  height: 100vh;
  background-color: #FEF6F4;
  font-family: 'Short Stack';
  font-size: 30px;
}
.main header {
  display: flex;
  flex-direction: row;
  border-radius: 20px 20px 0 0;
  border-bottom: black 2px solid;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  background-color: #F9C3C1;
}
.main header p {
  margin: auto 30px;
}
.main header .icons {
  margin: auto 30px;
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: space-between;
}
.main header .icons .icon {
  height: 40px;
}
.main .date {
  text-align: center;
  background-color: #FBE6E1;
  padding: 20px 0;
  border-bottom: black 2px solid;
}
