// relativeUrls: true
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');
@import './components/calculator/calculator.less';

@bg-line-color: #dae6f2a5;
@bg-color: #beccde;
@main-color:#FEF6F4;
@header-color: #F9C3C1;
@date-color:#FBE6E1;
@result-color:rgb(182, 87, 87);
@url_pic: "./images";

body{
    background: linear-gradient( @bg-line-color, transparent 2px), linear-gradient( 90deg, @bg-line-color, transparent 2px);
    background-size: 30px 30px;
    background-position: center center;
    background-color: @bg-color;
}
.main{
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    border: black 2px solid;
    border-radius: 20px;
    width: 90%;
    height: 100vh;
    background-color:@main-color;
    font-family: 'Short Stack';
    font-size: 30px;
    header{
        display: flex;
        flex-direction: row;
        border-radius: 20px 20px 0 0;
        border-bottom: black 2px solid;
        width: 100%;
        height: 70px;
        justify-content: space-between;
        background-color: @header-color;
        p{
            margin: auto 30px;
        }
        .icons{
            margin: auto 30px;
            display: flex;
            flex-direction: row;
            width: 150px;
            justify-content: space-between;

            .icon{
                height: 40px;
            }
        }
    }
    .date{
        text-align: center;
        background-color: @date-color;
        padding: 20px 0;
        border-bottom: black 2px solid;       
    }

}